{
    "tabWidth": 4,
    "printWidth": 160,
    "singleQuote": true,
    "arrowParens": "avoid",
    "trailingComma": "all",
    "bracketSpacing": false,
    "eslintIntegration": true,
    "jsxBracketSameLine": false
}
